/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-container, footer {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  max-width: 900px;
}

header {
  margin: 40px 0 80px 0;
}

/* --------------------------------------------------------------------------
   S V G   S T Y L E S 
   -------------------------------------------------------------------------- */
#route-sketch {
    width: 100%;
    height: 100%;
    fill: #ddd;
}

.fill-black {
  fill: #000;
}

.tree-inner, .pond-inner, .mountain-background {
  fill: white;
  transition: all 0.2s; 
  -webkit-transition: all 0.2s;
}

.tree-inner-clicked { fill: green; }
.mountain-background-clicked { fill: pink; }
.pond-inner-clicked { fill: lightblue;}

#snowL, #snowR {
    fill: white;
}

.top-marker {
  fill: salmon;
  fill-opacity:1;
  fill-rule:evenodd;
  stroke:#000000;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  stroke: #333;
  stroke-width: 0;
  transition: all 0.9s; 
  -webkit-transition: all 0.9s;
}

.marker-click-box {
  fill: transparent;
  stroke-width: 0;
}

.marker-clicked {
  stroke-width: 3;
  /*transform: translateY(0px);
  -webkit-transform: translateY(0px);*/
}

#mountain-route, #tree-route, #pond-route {    
    stroke-dasharray: 25;
    fill: transparent;
    stroke: #aaa;
    stroke-width: 3;
}

.for-animation {
  fill: transparent;
  stroke: #000;
  stroke-width: 0;
}



/* ---------- MOUNTAIN ANIMATION ----------- */
.mountain-route-animate {
    fill: transparent;
    stroke-linecap: round;
    stroke-dasharray: 1911;
    stroke-dashoffset: 1911;
    animation: mountain-dash 1s linear forwards;
    -webkit-animation: mountain-dash 0.5s linear forwards;
    -moz-animation: mountain-dash 0.5s linear forwards;
}

@keyframes mountain-dash {
    from { stroke-dashoffset: 1911; }
    to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}

@-webkit-keyframes mountain-dash {
  from { stroke-dashoffset: 1911; }
  to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}

@-moz-keyframes mountain-dash {
  from { stroke-dashoffset: 1911; }
  to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}


/* ---------- POND ANIMATION ----------- */
.pond-route-animate {
    fill: transparent;
    stroke-linecap: round;
    stroke-dasharray: 1810;
    stroke-dashoffset: 1810;
    animation: pond-dash 1s linear forwards;
    -webkit-animation: pond-dash 0.5s linear forwards;
    -moz-animation: pond-dash 0.5s linear forwards;
}

@keyframes pond-dash {
    from { stroke-dashoffset: 1810; }
    to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}

@-webkit-keyframes pond-dash {
  from { stroke-dashoffset: 1810; }
  to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}

@-moz-keyframes pond-dash {
  from { stroke-dashoffset: 1810; }
  to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}


/* ---------- POND ANIMATION ----------- */
.tree-route-animate {
    fill: transparent;
    stroke-linecap: round;
    stroke-dasharray: 2325;
    stroke-dashoffset: 2325;
    animation: tree-dash 1s linear forwards;
    -webkit-animation: tree-dash 0.5s linear forwards;
    -moz-animation: tree-dash 0.5s linear forwards;
}

@keyframes tree-dash {
    from { stroke-dashoffset: 2325; }
    to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}

@-webkit-keyframes tree-dash {
  from { stroke-dashoffset: 2325; }
  to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}

@-moz-keyframes tree-dash {
  from { stroke-dashoffset: 2325; }
  to { stroke-dashoffset: 0; stroke-width: 10; stroke: #000; }
}



/* ---------- CLICK-ME ANIMATION ----------- */
.click-me {
  stroke-width: 0;
  animation: click-me 3.5s ease infinite;
  -webkit-animation: click-me 3.5s ease infinite;
  -moz-animation: click-me 3.5s ease infinite;
}

@keyframes click-me {
  0% { transform: translateY(0px); }
  15% { transform: translateY(-40px); }
  19% { stroke-width: 0;}
  20% { stroke-width: 8;}
  29% { stroke-width: 0;}
  30% { stroke-width: 8;}
  70% { transform: translateY(-40px); stroke-width: 8;}
  80% { transform: translateY(0px); stroke-width: 0;}
}

@-webkit-keyframes click-me {
  0% { -webkit-transform: translateY(0px); }
  15% { -webkit-transform: translateY(-40px); }
  19% { stroke-width: 0;}
  20% { stroke-width: 8;}
  29% { stroke-width: 0;}
  30% { stroke-width: 8;}
  70% { -webkit-transform: translateY(-40px); stroke-width: 8;}
  80% { -webkit-transform: translateY(0px); stroke-width: 0;}
}

@-moz-keyframes click-me {
  0% { -moz-transform: translateY(0px); }
  15% { -moz-transform: translateY(-40px); }
  19% { stroke-width: 0;}
  20% { stroke-width: 8;}
  29% { stroke-width: 0;}
  30% { stroke-width: 8;}
  70% { -moz-transform: translateY(-40px); stroke-width: 8;}
  80% { -moz-transform: translateY(0px); stroke-width: 0;}
}

/* ---------- GRASS WIGGLE ----------- */
.grass:hover {
  /*stroke: #000;*/
  animation: grass-wiggle 0.7s linear infinite;
  -webkit-animation: grass-wiggle 0.7s linear infinite;
  -moz-animation: grass-wiggle 0.7s linear infinite;
}

@-webkit-keyframes grass-wiggle {
  0% { -webkit-transform: rotate(10deg); -webkit-transform-origin: 50% 50%; }
  25% { -webkit-transform: rotate(-10deg); -webkit-transform-origin: 50% 50%; }
  50% { -webkit-transform: rotate(10deg); -webkit-transform-origin: 50% 50%; }
  75% { -webkit-transform: rotate(-10deg); -webkit-transform-origin: 50% 50%; }
  100% { -webkit-transform: rotate(10deg); -webkit-transform-origin: 50% 50%; }
}

@-moz-keyframes grass-wiggle {
  0% { -moz-transform: rotate(10deg); -moz-transform-origin: 50% 50%; }
  25% { -moz-transform: rotate(-10deg); -moz-transform-origin: 50% 50%; }
  50% { -moz-transform: rotate(10deg); -moz-transform-origin: 50% 50%; }
  75% { -moz-transform: rotate(-10deg); -moz-transform-origin: 50% 50%; }
  100% { -moz-transform: rotate(10deg); -moz-transform-origin: 50% 50%; }
}

@keyframes grass-wiggle {
  0% { transform: rotate(10deg); transform-origin: 50% 50%; }
  25% { transform: rotate(-10deg); transform-origin: 50% 50%; }
  50% { transform: rotate(10deg); transform-origin: 50% 50%; }
  75% { transform: rotate(-10deg); transform-origin: 50% 50%; }
  100% { transform: rotate(10deg); transform-origin: 50% 50%; }
}

/* ---------------------------------------------------------------------------------
   animation technique from here - https://css-tricks.com/svg-line-animation-works/
   --------------------------------------------------------------------------------- */


/*   -------------------------------------------------------------------------- */



.svg-container {
    width: 65%;
    margin: 2% auto;
}

.title-text {
  font-size: 6em;
  font-family: 'Patua One';
  fill: #000;
  
}

.work-text {
  font-size: 5em;
  font-family: 'Patua One';
  fill: #777;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  
}

.words-text {
  font-size: 5em;
  font-family: 'Patua One';
  fill: #777;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  
}

.about-text {
  font-size: 5em;
  font-family: 'Patua One';
  fill: #777;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  
}

.text-animate {
  -webkit-transform: translate(-90px, 0px); /* Chrome, Safari, Opera */
  -moz-transform: translate(-90px, 0px); /* Chrome, Safari, Opera */
  transform: translate(-90px, 0px);
  fill: #000;
}

.path-target {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

/* ==========================================================================
   Icon Header
   ========================================================================== */

.header-icon-container {
  width: 80%;
  margin: 0 auto;
  height: 11em;
  padding: 0.5em 0 0 0;
  text-align: center;
  font-family: 'Patua One'
}

.header-svg-container {
  float: left;
  width: 33%;
}

.header-svg {
  width: 100%;
  height: 8em;
}

header h2 {
  margin: 0 auto;
  font-size: 1.7em;
}

header a {
  color: #000;
  text-decoration: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media screen and (max-width: 620px) {
  .svg-container {
    width: 98%;
    margin: 2% auto;
    padding: 0 1%;
  }
  
  /*attempt to make marker bigger on mobile. No go
  .top-marker {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    transform-origin: 50%, 50%;
    -webkit-transform-origin: 50%, 50%;
    -moz-transform-origin: 50%, 50%;
  }*/
}
