body {
	background-color: #F0F0F0;
	color: gray;
	font-family: sans-serif;
}

a {
	color: #73383B;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #571418;
	text-decoration: underline;
}

h1 {
	font-style: italic;
	font-family: georgia, serif;
	font-weight: normal;
	text-align: center;
}

p {
	font-family: serif;
	padding-bottom: 10px;
}

ul {
	list-style: square;
	font-weight: bold;
}

.ul-nest {
	font-style: italic;
	font-weight: normal;
	list-style: circle;
}

hr {
	border: 0;
	height: 1px;
	background: gray;
	margin: 0 0 2em 0;
}

hr.top-hr {
	border: 0;
	height: 1px;
	background: gray;
	margin: 5em 0 2em 0;
}

img {
	float: right;
	border: 1px solid gray;
	padding: 3px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.aboutpic {
	height: 70%;
	width: auto;
}

.title {
	text-align: left;
	font-family: 'Coustard', serif;
	font-style: normal;
	font-size: 120%;
}

/* 
Layout
======
 */


.wrapper {
	padding: 40px;
	border: 4px solid gray;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.site-title {
	font-family: 'Coustard', serif;
	font-style: normal;
	color: #424242;
}

.container {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.landing {
	margin-top: 22%;
	text-align: center;
}

#top ,#bottom, #left, #right {
	background: white;
		: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#bottom, #top {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


/* 
Navigation 
=============
*/


.nav {
	text-align: center;
	padding: 10px;
}

.title-bar {
	margin: 1em 0 4.5em	 0;
}

.top-h {
	float: left;
	margin: 0 0 0 0;
	font-family: 'Coustard', serif;
	font-style: normal;
}

a.top-h {
	text-decoration: none;
	color: #424242;
}

.top-nav {
	float: right;
}

.mail-button {
	color: gray;
	padding: 5px;
	border: 1px;
	border-color: gray;
	border-style: solid;
	border-radius: 3px;
	margin: 2em 0 2em 0;
	display: inline-block; /* must be set in order for margins not to be collapsed */
}