body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
	background-color: red;
	padding: 10px 1px 10px 10px;
	border: 1px solid black;
}

p {
	background-color: blue;
	color: white;
	padding: 4px 0px 4px 15px;
	border: 1px solid black;
}

code {
	background-color: white;
	color: black;
	padding: 2px;
	border: 1px solid gray;
}

h2 {
	background-color: #73383B;
	color: white;
	padding: 4px;
	border: 3px dotted orange;
}

ol {
	list-style-type: lower-greek;
}

li {
	font-style: italic;
}