*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

header, #main, aside, footer {
  padding: 10px;
}

header {
  background: red;
}

#main {
  background: yellow;
  float: left;
  width: 60%;
}

aside {
  background: green;
  float: right;
  width:  40%;
}

footer {
  background: blue;
  clear: both;
}

.placeholder {
  border: 1px solid black;
  background: rgba(255,255,255,.6);
  padding: 20px;
  height: 150px;
}
