/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/



/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none ;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
  color: #000;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.5;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
  padding-bottom: 50px;
}

footer {

}

table {
  margin: 25px auto;
  border-bottom: 3px solid #777;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

td, th {
  border: 1px solid #555;
  border-collapse: collapse;
  padding: 2px 10px;
}

th {
  font-weight: bold;
  background-color: #333;
  color: #fff;
}

tr:hover {
  background: #eee;
}

.tableFocus {
  background-color: #999;
  color: #fff;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.btn {
  background-color: #cdcdcd;
  padding: 6px 12px;
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.clicked {
  background-color: #eee;
  color: 777;
}

#image-to-vote-on,
#buttons-wrapper, #image-area {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  display: block;
}

#instructions {
  margin-bottom: 20px;
}

#instructions + div {
  margin-bottom: 20px;
}

.keys {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

.star {
  display: inline;
}

.star a {
  font-size: 40px;
  text-decoration: none;
  color: #999;
}

.star a :visited {
  color: #999;
}

.star a:hover {
  color: #000;
}

.starHover {
  color: yellow;
}

#image-to-vote-on {
  margin-top: 50px;
}

#buttons-wrapper {
  margin-top:20px;
  margin-bottom: 50px;
}

#image-to-vote-on + div {
  text-align: center;
  font-size: 24px;
  margin-top: 12px;

}

#image-area {
  position: relative;
}

#image-label {
  position: absolute;
  top: 400px;
  left: -64px;
  font-size: 35px;
  color: #999;
  font-family: sans-serif;
  border: solid 2px #999;
  border-radius: 30px;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 48px;
}

#rating-widget {
  margin: 30px auto 0px auto;
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 1;
  margin: .5em 0;
  word-spacing: .2em;
  text-align: center;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
}

nav ul {
  text-align: center;
  list-style: none;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #706F6A;
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
  margin-right: -1px;
}

nav a:hover {
  color: #000;

}

nav span {
  border-right: 1px solid #ddd;
  padding: 0 24px 0 25px;
}

nav li:last-of-type span{
  border-right: none;
}

.instructions {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: .8em;
}

.hidden {
  display: none;
}

img {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}