/* ----------------------------------------------------
   B A S E 
------------------------------------------------------- */
* {
  width: 100%;
  border: 1px solid black;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#container, ul, nav, body, html, section {
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* ----------------------------------------------------
   C O N T A I N E R
------------------------------------------------------- */

#container {
  width: 90%;
  margin: 0 auto;
}

/* ----------------------------------------------------
   N A V I G A T I O N
------------------------------------------------------- */
nav {
  height: 60px;
  background-color: #888
}

nav li {
  width: 15%;
  height: 40px;
  line-height: 40px;
  float: left;
  margin: 10px;
  background-color: #fff;
  text-align: center;
}

nav li:last-child {
  float: right;
  background-color: lavender;
}

.line {
  height: 7px;
  width: 60%;
  margin: 4px auto;
  border-radius: 5px;
  background-color: maroon;
}

/* ----------------------------------------------------
   M A I N   C O N T E N T
------------------------------------------------------- */
.banner {
  height: 400px;
  margin: 20px 0;
  background-color: #eee;
}

.gallery div {
	width: 23.5%;
	height: 150px;
	float: left;
	margin: 10px 1%;
}

.gallery div:first-child {
	margin-left: 0;
}

.gallery div:last-child {
	margin-right: 0;
}

/* ----------------------------------------------------
   F O O T E R
------------------------------------------------------- */
footer div {
  width: 30%;
  height: 150px;
  float: left;
  margin: 10px 1.5%;
  background-color: #fff;
}

footer {
	margin-top: 20px;
  clear: left;
  background-color: #888;
}


/* ----------------------------------------------------
   O V E R W R I T E    CSS for for mobile layout 
------------------------------------------------------- */

/* ----- screens below 900px width ----- */

@media screen and (max-width: 900px) {
  nav li {
    display: none;
  }

  nav li:last-child {
    display: inline-block;
  }

  .gallery div {
    display: block;
    width: 49%;
    margin: 10px 1%;
  }

  .gallery div:first-child, .gallery div:nth-child(3) {
    margin-left: 0;
  }

  .gallery div:last-child, .gallery div:nth-child(2) {
    margin-right: 0;
  }

  footer div {
    display: block;
    width: 98%;
    margin: 10px 1%;
  }
}



/* ----- screens below 600px width ----- */

@media screen and (max-width: 600px) {
  nav li {
    display: none;
  }

  nav li:last-child {
    display: inline-block;
  }

  .gallery div {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  footer div {
    display: block;
    width: 98%;
    margin: 10px 1%;
  }
}